* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  width: 100%;
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  background-color: #333;
  padding: 1em;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  box-shadow: 4px 4px 8px #333;
}

main {
  height: 100vh;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #333;
  color: #fff;
  padding: 0.5em;
  justify-content: center;
  border-top: 1px solid #000;
  box-shadow: 4px -4px 8px #333;
}
