.mesa {
  width: 5em;
  height: 5em;
  background-color: #483d8b;
  color: #fff;
  border: 1px solid #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px #333;
  cursor: pointer;
}

.mesa:hover {
  box-shadow: 4px 4px 8px #000;
  transform: scale(1.01);
}
