.header img {
  background-color: #fff;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header a:hover {
  color: #eee;
  text-shadow: 4px 4px 8px #000;
}

.header h2 {
  font-weight: normal;
}

.header div {
  background-color: #f00;
  width: 3em;
  height: 3em;
  border: 1px solid #000;
  border-radius: 100%;
  box-shadow: 3px 3px 6px #000;
}

.header div:hover {
  box-shadow: 4px 4px 8px #000;
  background-color: #c00;
}
