.content {
  width: 40%;
  height: 5.5em;
  background-color: #333;
  color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  flex-wrap: wrap;
}

.content:hover {
  background-color: #444;
  box-shadow: 4px 4px 8px #000;
}

.content img {
  width: 1.7em;
}

.content div {
  letter-spacing: 0.06em;
}
